html {
  background: #fffffe;
}
body {
  margin: 0;
  color: #2e2925;
}
.body {
  position: relative;
  box-sizing: border-box;
  margin-left: 11.11vw;
  min-height: 100vh;
}
@media screen and (min-width: 1000px) and (max-width: 1366px) {
  .body {
    margin-left: 16.6vw;
  }
}
@media screen and (max-width: 999px) {
  .body {
    margin-left: 0;
  }
}
.bg-lines {
  position: fixed;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: stretch;
}
.bg-lines .bg-lines-item {
  flex-grow: 0;
  flex-shrink: 0;
  border-right: 1px solid rgba(0,0,0,0.08);
  z-index: 0;
  position: relative;
  overflow: hidden;
  width: 11.11vw;
  box-sizing: border-box;
}
@media screen and (min-width: 1000px) and (max-width: 1366px) {
  .bg-lines .bg-lines-item {
    width: 16.6vw;
  }
}
@media screen and (max-width: 999px) {
  .bg-lines .bg-lines-item {
    width: 33.33vw;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
blockquote,
ol,
li {
  padding: 0;
  margin: 0;
}
p {
  line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
.h1,
h1 {
  font-size: 32px;
}
.h2,
h2 {
  font-size: 24px;
}
.h3,
h3 {
  font-size: 19px;
}
.h4,
h4 {
  font-size: 16px;
}
.h5,
h5 {
  font-size: 13px;
}
.h6,
h6 {
  font-size: 11px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #ddd;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
::selection {
  background: #f7d781;
  color: #2e2925;
  text-shadow: none;
}
.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 11.12%;
  height: 100vh;
  box-sizing: border-box;
  vertical-align: middle;
  z-index: 40;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
@media screen and (min-width: 1000px) and (max-width: 1366px) {
  .nav {
    width: 16.6vw;
  }
}
@media screen and (max-width: 999px) {
  .nav {
    display: none;
  }
}
.nav .bg {
  position: absolute;
  z-index: -1;
  top: 30px;
  left: -30px;
  width: 70%;
  padding-bottom: 70%;
  background: url("./img/logo_gold.svg") no-repeat center center;
  background-size: 70% auto;
  transform: rotate(30deg);
  opacity: 0.8;
}
.nav .nav-title {
  flex-shrink: 0;
  padding: 40px 12% 10px;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #2e2925;
  text-align: center;
}
.nav .nav-links {
  flex-shrink: 1;
  padding: 0 12%;
}
.nav .nav-links .nav-link {
  display: inline-block;
  position: relative;
  padding-top: 15px;
  padding-bottom: 4px;
  font-size: 15px;
}
.nav .nav-links .nav-link.bold {
  font-weight: 700;
}
.nav .nav-links .nav-link .nav-link-number {
  position: absolute;
  font-size: 0.7em;
  top: 30%;
  right: -12px;
  width: 10px;
  text-align: left;
}
.nav .nav-links .nav-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #2e2925;
  min-width: 0;
  transition: min-width 0.3s;
}
.nav .nav-links .nav-link:hover:before {
  min-width: 100%;
}
.nav .leave-btn {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
  color: #2e2925;
  font-weight: 700;
  text-decoration: none;
  padding: 19.5px 0;
  font-size: 15px;
  position: relative;
}
.nav .leave-btn:before {
  content: '';
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f7d781;
  opacity: 0.8;
}
.nav .leave-btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f7d781;
  min-width: 100%;
  transition: min-width 0.5s;
}
.nav .leave-btn:hover:after {
  min-width: 0;
}
.nav-mobile {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}
@media screen and (max-width: 999px) {
  .nav-mobile {
    display: block;
  }
}
.nav-mobile .top-bar {
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.nav-mobile .top-bar .logo {
  display: block;
  width: 70px;
  background: url("http://static.chiyuanyuan.com/logo_gold.svg") no-repeat center center;
  background-size: 60% auto;
  background-color: #f7d781;
}
.nav-mobile .top-bar .btns {
  height: 100%;
}
.nav-mobile .top-bar .btns .btn {
  position: relative;
  z-index: 11;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 12px;
  color: #2e2925;
  transition: color 0.5s;
  letter-spacing: 3px;
  font-weight: 700;
}
.nav-mobile .top-bar .btns .btn:before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 0;
  background: #2e2925;
  transition: min-height 0.5s;
}
.nav-mobile .top-bar .btns .btn.active {
  color: #fff;
}
.nav-mobile .top-bar .btns .btn.active:before {
  min-height: 100%;
}
.nav-mobile .list {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: background-color 0.5s;
  display: flex;
  justify-content: space-between;
}
.nav-mobile .list .list-main {
  flex-grow: 1;
  margin-left: 70px;
  height: 100%;
  max-width: 0;
  background: #2e2925;
  transition: max-width 0.5s;
  box-sizing: border-box;
  padding: 15% 10%;
}
.nav-mobile .list .list-main li {
  font-weight: 700;
}
.nav-mobile .list .list-main li .link {
  color: #f7d781;
  display: inline-block;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 4px;
  font-weight: 700;
  border-bottom: 2px solid #f7d781;
}
.nav-mobile .list.active {
  height: auto;
  bottom: 0;
  background: rgba(37,37,37,0.5);
}
.nav-mobile .list.active .list-main {
  max-width: 100%;
}
.main {
  display: flex;
  align-items: stretch;
  height: 100vh;
}
@media screen and (max-width: 999px) {
  .body .menu,
  .body .article {
    display: none;
  }
  .body.from-archives .menu,
  .body.from-home .menu,
  .body.from-tags .menu {
    display: block;
    flex-grow: 1;
  }
  .body.from-post .article {
    display: block;
  }
}
.menu {
  width: 33.33vw;
  position: relative;
  z-index: 10;
  flex-shrink: 0;
  flex-grow: 0;
}
.menu .header {
  height: 20vh;
  width: 100%;
  background-size: cover;
  position: relative;
  background: #2e2925;
}
@media screen and (max-width: 999px) {
  .menu .header {
    display: none;
  }
}
.menu .header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("./img/logo.png") center center;
  background-size: 50px;
  opacity: 0.4;
}
.menu .header .title {
  color: #f7d781;
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 30px;
  transform: translateY(-50%);
  text-decoration: underline;
}
.menu .header .title .number {
  position: absolute;
  font-size: 0.5em;
  top: 0;
  right: -20px;
}
.menu .list {
  width: 100%;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media screen and (max-width: 999px) {
  .menu .list {
    height: 100vh;
    box-sizing: border-box;
    border-top: 70px solid transparent;
  }
}
.menu .list .item {
  width: 100%;
  background-color: #f5f5f5;
}
.menu .list .item.current {
  background-color: #fffffe;
}
.menu .list .item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 50px;
  height: 20vh;
  width: 100%;
  box-sizing: border-box;
}
.menu .list .item a .item-info {
  padding-bottom: 0.5em;
  color: #a6a6a6;
  font-size: 11px;
  letter-spacing: 2px;
}
.menu .list .item a .item-title {
  font-weight: 700;
  color: #252525;
  font-size: 16px;
}
.article {
  flex-grow: 1;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 200px 11vw 100px;
}
.article .info {
  font-size: 11px;
  letter-spacing: 2px;
  color: #a6a6a6;
}
.article >.title {
  font-size: 35px;
  color: #2e2925;
  margin-top: 50px;
}
.article .summary {
  font-weight: 700;
  font-size: 20px;
  margin: 40px 0 70px;
  color: #252525;
}
.article .main-content h1,
.article .main-content h2,
.article .main-content h3,
.article .main-content h4,
.article .main-content h5,
.article .main-content h6,
.article .main-content p,
.article .main-content ol,
.article .main-content ul,
.article .main-content blockquote,
.article .main-content figure,
.article .main-content >table {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.article .main-content >table,
.article .main-content img,
.article .main-content figure {
  box-shadow: 1px 1px 10px 2px #ddd;
}
.article .main-content h1,
.article .main-content h2,
.article .main-content h3,
.article .main-content h4,
.article .main-content h5,
.article .main-content h6 {
  font-weight: bold;
}
.article .main-content h1 {
  font-size: 42px;
}
.article .main-content h2 {
  font-size: 27px;
}
.article .main-content h3 {
  font-size: 22px;
}
.article .main-content h4,
.article .main-content h5,
.article .main-content h6 {
  font-size: 18px;
}
.article .main-content p {
  font-size: 16px;
  display: block;
  line-height: 1.5;
}
.article .main-content a {
  color: #f7d781;
}
.article .main-content strong {
  font-weight: 700;
}
.article .main-content blockquote {
  color: #999;
  padding-left: 20px;
  position: relative;
  border-left: 4px solid #f7d781;
}
.article .main-content img {
  position: relative;
  z-index: 15;
  width: 100%;
  height: auto;
  display: block;
  margin: 30px 0;
}
.article .main-content ol {
  list-style: none;
  counter-reset: b;
}
.article .main-content ol li {
  margin-bottom: 10px;
  padding-left: 27px;
  position: relative;
}
.article .main-content ol li:before {
  content: counters(b, ".") " ";
  counter-increment: b;
  left: -8px;
  color: #999;
  position: absolute;
  text-align: right;
  width: 29px;
}
.article .main-content ul {
  list-style: none;
}
.article .main-content ul li {
  margin-bottom: 10px;
  padding-left: 27px;
  position: relative;
}
.article .main-content ul li:before {
  content: "";
  background-color: #999;
  border-radius: 9999px;
  width: 6px;
  height: 6px;
  left: 12px;
  top: 11px;
  position: absolute;
}
.article .main-content >table {
  font-size: 16px;
  border-collapse: collapse;
  width: 100%;
  overflow-y: auto;
  background: #fffffe;
  position: relative;
  z-index: 15;
}
.article .main-content >table th,
.article .main-content >table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #f3f3f3;
}
.article .main-content >figure {
  position: relative;
  z-index: 15;
  margin: 0;
  background: #f3f3f3;
}
.article .main-content >figure table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}
.article .main-content >figure .code pre {
  font-size: 14px;
  padding: 30px;
}
.article .main-content >figure .code pre code {
  white-space: pre;
  font-size: 14px;
  padding: 0;
  font-weight: 300;
  -webkit-font-smoothing: initial;
  position: relative;
  background: transparent;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
}
.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}
.hljs-literal {
  color: #0184bb;
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
